<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>父子组件通信</title>
</head>
<body>
<div id="app">
  <cpn :cbooks="books" :cmessage="message" @itemclick="cpnClick"></cpn>
  <div>
    <h2>{{childBook}}</h2>
  </div>
</div>

<template id="cpn">
  <div>
    <ul>
      <li v-for="item in cbooks">{{item.name}}</li>
    </ul>
    <h2>{{cmessage}}</h2>
    <div>
      <button v-for="item in books" @click="btnClick(item)">{{item.name}}</button>
    </div>
  </div>
</template>

<script src="../js/Vue.js"></script>
<script>
  /*
      父->子  props 属性  v-bind 传递不支持驼峰  可以使用 -  vue2.0

      子->父 $emit event 事件名称驼峰问题   脚手架可以争产更实用驼峰   render
   */
  const cpn = {
    template: '#cpn',
    //props: ['cbooks']
    props: {
      //cbooks: Array,
      cbooks: {
        type: Array,
        default() {
          return [];
        }
      },
      cmessage: {
        type: String,
        default: '哈哈哈哈',
        required: true
      }
    },
    data() {
      return {
        books: [
          {name: '三国演义', date: '2006-9', price: 85.00, count: 1},
          {name: '水浒传', date: '2006-2', price: 59.00, count: 1},
          {name: '红楼梦', date: '2008-10', price: 39.00, count: 1},
          {name: '西游记', date: '2006-3', price: 128.00, count: 1}
        ]
      }
    },
    methods: {
      btnClick(item) {
        this.$emit('itemclick', item);
      }
    }
  };

  const app = new Vue({
    el: '#app',
    data: {
      message: 'hello Vue',
      books: [
        {name: '三国演义', date: '2006-9', price: 85.00, count: 1},
        {name: '水浒传', date: '2006-2', price: 59.00, count: 1},
        {name: '红楼梦', date: '2008-10', price: 39.00, count: 1},
        {name: '西游记', date: '2006-3', price: 128.00, count: 1}
      ],
      childBook: {}
    },
    components: {
      cpn
    },
    methods: {
      cpnClick(item) {
        this.childBook = item;
      }
    }
  })
</script>
</body>
</html>
